In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv')
df.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [4]:
df['STATEFP'] = df['STATEFP'].astype(str).str.zfill(2)
df['COUNTYFP'] = df['COUNTYFP'].astype(str).str.zfill(3)
df['TRACTCE'] = df['TRACTCE'].astype(str).str.zfill(6)
df['BLKGRPCE'] = df['BLKGRPCE'].astype(str)
df.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,007825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,007825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,007825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,007824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,007824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [9]:
# Merge selected columns into one as string dtype
cols = ['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE']
df['GEOID'] = df[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

In [10]:
# Move GEOID column
df.insert(3, 'GEOID', df.pop('GEOID'))

In [11]:
# Get index number of "NatWalkInd" column
index = df.columns.get_loc('NatWalkInd')
print(index)

111

In [12]:
# Move NatWalkInd column
df.insert(111, 'NatWalkInd', df.pop('NatWalkInd'))
df.head()

,OBJECTID,GEOID10,GEOID20,GEOID,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,...,D5DRI,D5DE,D5DEI,NatWalkInd,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,481130078254,48,113,007825,4,206.0,"Dallas-Fort Worth, TX-OK",...,0.184697,0.000476,0.137707,14.000000,6,14,15,17,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,481130078252,48,113,007825,2,206.0,"Dallas-Fort Worth, TX-OK",...,0.323221,0.000801,0.231868,10.833333,3,10,12,14,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,481130078253,48,113,007825,3,206.0,"Dallas-Fort Worth, TX-OK",...,0.314628,0.000736,0.213146,8.333333,1,1,7,17,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,481130078241,48,113,007824,1,206.0,"Dallas-Fort Worth, TX-OK",...,0.229821,0.000708,0.205018,15.666667,16,10,17,17,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,481130078242,48,113,007824,2,206.0,"Dallas-Fort Worth, TX-OK",...,0.164863,0.000433,0.125296,10.166667,4,7,11,14,3731.971773,687684.7752

In [13]:
df = df.drop(['OBJECTID', 'GEOID10', 'GEOID20', 'CSA', 'CSA_Name', 'CBSA', 'Shape_Length', 'Shape_Area'], axis=1)
df.head()

,GEOID,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CBSA_Name,CBSA_POP,CBSA_EMP,CBSA_WRK,Ac_Total,...,D5CEI,D5DR,D5DRI,D5DE,D5DEI,NatWalkInd,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked
0,481130078254,48,113,007825,4,"Dallas-Fort Worth-Arlington, TX",7189384,3545715,3364458,73.595028,...,0.841299,0.000525,0.184697,0.000476,0.137707,14.000000,6,14,15,17
1,481130078252,48,113,007825,2,"Dallas-Fort Worth-Arlington, TX",7189384,3545715,3364458,119.829909,...,0.753958,0.000919,0.323221,0.000801,0.231868,10.833333,3,10,12,14
2,481130078253,48,113,007825,3,"Dallas-Fort Worth-Arlington, TX",7189384,3545715,3364458,26.367053,...,0.800475,0.000894,0.314628,0.000736,0.213146,8.333333,1,1,7,17
3,481130078241,48,113,007824,1,"Dallas-Fort Worth-Arlington, TX",7189384,3545715,3364458,119.060687,...,0.825778,0.000653,0.229821,0.000708,0.205018,15.666667,16,10,17,17
4,481130078242,48,113,007824,2,"Dallas-Fort Worth-Arlington, TX",7189384,3545715,3364458,169.927211,...,0.659846,0.000469,0.164863,0.000433,0.125296,10.166667,4,7,11,14

In [14]:
df = df[['GEOID', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'CBSA_Name', 'CBSA_POP', 'Ac_Total', 'TotPop', 'R_LowWageWk',
         'R_MedWageWk', 'R_HiWageWk', 'R_PCTLOWWAGE', 'NatWalkInd']]
df.head()

,GEOID,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CBSA_Name,CBSA_POP,Ac_Total,TotPop,R_LowWageWk,R_MedWageWk,R_HiWageWk,R_PCTLOWWAGE,NatWalkInd
0,481130078254,48,113,007825,4,"Dallas-Fort Worth-Arlington, TX",7189384,73.595028,1202,99,122,191,0.240291,14.000000
1,481130078252,48,113,007825,2,"Dallas-Fort Worth-Arlington, TX",7189384,119.829909,710,76,107,212,0.192405,10.833333
2,481130078253,48,113,007825,3,"Dallas-Fort Worth-Arlington, TX",7189384,26.367053,737,136,189,138,0.293737,8.333333
3,481130078241,48,113,007824,1,"Dallas-Fort Worth-Arlington, TX",7189384,119.060687,904,60,69,302,0.139211,15.666667
4,481130078242,48,113,007824,2,"Dallas-Fort Worth-Arlington, TX",7189384,169.927211,948,91,84,404,0.157168,10.166667

In [15]:
df["Walkable"] = df["NatWalkInd"].apply(lambda x: "Yes" if x >= 10.51 else "No")
print(df.shape)
df.head()

(220740, 15)

,GEOID,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CBSA_Name,CBSA_POP,Ac_Total,TotPop,R_LowWageWk,R_MedWageWk,R_HiWageWk,R_PCTLOWWAGE,NatWalkInd,Walkable
0,481130078254,48,113,007825,4,"Dallas-Fort Worth-Arlington, TX",7189384,73.595028,1202,99,122,191,0.240291,14.000000,Yes
1,481130078252,48,113,007825,2,"Dallas-Fort Worth-Arlington, TX",7189384,119.829909,710,76,107,212,0.192405,10.833333,Yes
2,481130078253,48,113,007825,3,"Dallas-Fort Worth-Arlington, TX",7189384,26.367053,737,136,189,138,0.293737,8.333333,No
3,481130078241,48,113,007824,1,"Dallas-Fort Worth-Arlington, TX",7189384,119.060687,904,60,69,302,0.139211,15.666667,Yes
4,481130078242,48,113,007824,2,"Dallas-Fort Worth-Arlington, TX",7189384,169.927211,948,91,84,404,0.157168,10.166667,No

In [16]:
df.to_csv('../data/walkable_tableau.csv')